@import url('https://fonts.cdnfonts.com/css/amiga-forever');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    
}
header {
    background-color: #f44336;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    background-color: #48d0b0;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: 'Amiga Forever pro2', sans-serif;
    border: #333 2px solid;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #73e0c0; 
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    perspective: 1000px;
    color: #333;
    display: flex;
    text-align: center;
    font-family: 'Amiga Forever pro2', sans-serif;
    font-size: 10px;
}

header, footer {
    display: flex;
    justify-content: space-around;
}
footer img {
    width: 300px;
    margin: 30px;
}
footer {
    background-color: #f44336;
    bottom: 0;

}
.pokemon {
    width: 300px;
}
.pokebola {
    width: 100px;
}
.card p {
    text-align: center;
    width: 0 auto;
    font-size: 15px;
    padding: 5px;
}

.card h4 {
    font-size: 30px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.card-back {
    background-color: #f2f2f2;
    border-radius: 50px;
    transform: rotateY(180deg);
    width: 300px;
    height: 300px;
    

}

.pokemon-image {
    width: 80%;
    height: auto;
}

.container {
    margin-top: 10px;
}

.container p {
    margin: 5px 0;
}



.filter-button[data-type="grass"] { background-color: #48d0b0; }
.filter-button[data-type="fire"] { background-color: #ff4040; }
.filter-button[data-type="water"] { background-color: #73b7ff; }
.filter-button[data-type="bug"] { background-color: #aacc44; }
.filter-button[data-type="ice"] { background-color: #a8f4f4; }
.filter-button[data-type="poison"] { background-color: #9966cc; }
.filter-button[data-type="psychic"] { background-color: #ff9c85; }
.filter-button[data-type="ground"] { background-color: #e0c068; }
.filter-button[data-type="rock"] { background-color: #b8a038; }
.filter-button[data-type="electric"] { background-color: #ffcc33; }
.filter-button[data-type="normal"] { background-color: #c0c0a8; }
.filter-button[data-type="fighting"] { background-color: #c03028; }
.filter-button[data-type="fairy"] { background-color: #ffaec9; }
.filter-button[data-type="dragon"] { background-color: #7038f8; }
.filter-button[data-type="ghost"] { background-color: #705898; }
.filter-button[data-type="steel"] { background-color: #b8b8d0; }
.filter-button[data-type="flying"] { background-color: #a890f0; }
.filter-button[data-type="dark"] { background-color: #6941e2; }
.filter-button[data-type="all"] { background-color: #48d0b0; }

.filter-button {
    font-family: 'Amiga Forever pro2', sans-serif;
    font-size: 8px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #48d0b0; /* Cor de fundo padrão */
    
}

.filter-button:hover {
cursor: pointer;
    .filter-button[data-type="grass"] { background-color: #48d0f0; }
    .filter-button[data-type="fire"] { background-color: #ff4090; }
    .filter-button[data-type="water"] { background-color: #73b7ff; }
    .filter-button[data-type="bug"] { background-color: #aacc44; }
    .filter-button[data-type="ice"] { background-color: #a8f4f4; }
    .filter-button[data-type="poison"] { background-color: #9966cc; }
    .filter-button[data-type="psychic"] { background-color: #ff9c85; }
    .filter-button[data-type="ground"] { background-color: #e0c068; }
    .filter-button[data-type="rock"] { background-color: #b8a038; }
    .filter-button[data-type="electric"] { background-color: #ffcc33; }
    .filter-button[data-type="normal"] { background-color: #c0c0a8; }
    .filter-button[data-type="fighting"] { background-color: #c03028; }
    .filter-button[data-type="fairy"] { background-color: #ffaec9; }
    .filter-button[data-type="dragon"] { background-color: #7038f8; }
    .filter-button[data-type="ghost"] { background-color: #705898; }
    .filter-button[data-type="steel"] { background-color: #b8b8d0; }
    .filter-button[data-type="flying"] { background-color: #a890f0; }
    .filter-button[data-type="dark"] { background-color: #6941e2; }
    .filter-button[data-type="all"] { background-color: #48d0b0; }
    

}

.card {
    background-color: #48d0b0;
}

.card.fire {
    background-color: #ff4040;
}

.card.water {
    background-color: #73b7ff;
}

.card.ice {
    background-color: #a8f4f4;
}

.card.bug {
    background-color: #aacc44;
}

.card.poison {
    background-color: #9966cc;
}

.card.psychic {
    background-color: #ff9c85;
}

.card.ground {
    background-color: #e0c068;
}

.card.rock {
    background-color: #b8a038;
}

.card.electric {
    background-color: #ffcc33;
}

.card.normal {
    background-color: #c0c0a8;
}

.card.fighting {
    background-color: #c03028;
}

.card.fairy {
    background-color: #ffaec9;
}

.card.dragon {
    background-color: #7038f8;
}

.card.ghost {
    background-color: #705898;
}

.card.steel {
    background-color: #b8b8d0;
}

.card.flying {
    background-color: #a890f0;
}

.card.dark {
    background-color: #6941e2;
}

.filter-buttons {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}